<!DOCTYPE html>
<html>
  <head>
    <title>SpinSociety</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
        <h1><%= link_to "Spin Society", root_path, alt: "Home" %></h1>
        <nav>
          <%= link_to "Home", root_path, alt: "Home" %>
          <%= link_to "About", about_path, alt: "About" %>
          <%= link_to "Clubs", clubs_path, alt: "Clubs" %>
          <%= link_to "Contact", contact_path, alt: "Contact" %>
        </nav>
    </header>
    <hr>

    <%= yield %>
  </body>
</html>
